.status-card {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-width: 200px;

  &__label {
    text-transform: uppercase;
    font-size: 16px;
    color: #9ca3af;
    font-weight: 500;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    color: #4b5563;
  }

  &__value {
    font-size: 15px;
    font-weight: 600;
    color: #1f2937;
  }

  &--active {
    .status-card__icon,
    .status-card__value {
      color: #d46b08;
    }
  }
}