.product-detail-page {
  &.bg-cream {
    background-color: #fffaf5; // Màu nền tổng thể cho phần top
  }

  .hover-primary:hover {
    color: #d35400 !important;
  }

  .container {

    .top-section{
      margin-top: 0;
    }
  }
}