.philosophy-section {
  background-color: #fdfdfd;
  color: #5d4037;

  .img-wrapper {
    position: relative;
    z-index: 2;
    max-width: 85%;

    img {
      filter: grayscale(10%);
      position: relative;
      z-index: 2;
    }
  }

  .decor-box {
    position: absolute;
    bottom: -1.5rem;
    right: -1.5rem;
    width: 95%;
    height: 95%;
    background-color: #fffaf5;
    border: 1px solid rgba(93, 64, 55, 0.08);
    z-index: 1;
  }

  .section-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3;
  }

  .content-text {
    font-weight: 300;
    font-size: 1rem;
    opacity: 0.9;
    line-height: 1.7;
  }

  .display-stat-item {
    justify-content: space-evenly;

    .stat-item {
      .stat-num {
        display: block;
        font-family: 'Playfair Display', serif;
        font-size: 1.75rem;
        color: #d35400;
        line-height: 1;
        margin-bottom: 5px;
      }

      .stat-label {
        font-size: 1rem;
        letter-spacing: 0.1em;
        opacity: 0.7;
        font-weight: 600;
      }
    }
  }

}