/* src/pages/Checkout/checkout.scss */

/* Style chung cho trang Checkout */
.checkout-page {
  background-color: #fffaf5;
  color: #000;
  min-height: 100vh;
}

.payment-option {
  background-color: #2a1e16;
  border-color: #483423;
  transition: all 0.3s;

  &:hover {
    border-color: #bd600f;
  }
}

.icon-box {
  background-color: #332519;
}