.image-gallery-section {
  height: 350px;
  overflow: hidden;

  .gallery-item {
    height: 100%;
    .img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease;
      }
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  @media (max-width: 768px) {
    height: auto;
    .gallery-item {
      height: 250px; // Mobile cũng nhỏ lại
    }
  }
}