.promotion-page {
  padding-top: 20px;
  background-color: #fdfdfd;
  min-height: 100vh;

  .banner--promotion {
    margin: 0 auto;
    width: 95%;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
  }

  .container {
    padding-bottom: 80px;

    &::before {
      content: "ƯU ĐÃI ĐANG DIỄN RA";
      display: block;
      font-weight: 700;
      color: #3e2723;
      margin-bottom: 20px;
      font-size: 1.1rem;
    }
  }
}