.promotion-page {
  padding-top: 20px;
  background-color: #fdfdfd;
  min-height: 100vh;

  .banner--promotion {
    margin: 0 auto;
    width: 95%;
    height: 500px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;

  }

  .container {

    &::before {
      display: block;
      font-weight: 700;
      color: #3e2723;
      font-size: 1.1rem;
    }
    .promotion-section-title {
      font-size: 24px;
      font-weight: 600;
      color: #3e2723;
      letter-spacing: 1px;
      position: relative;
      display: inline-block;

    }
  }
}